<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlr.seat.dao.mapper.RolePermissionMapper">

<!--    查询权限码列表-->
    <select id="selectPermissionCode" resultType="String">
		select permission_code from role_permission
		where role_id = #{roleId}
	</select>
</mapper>