<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlr.seat.dao.mapper.SeatsMapper">
    <resultMap id="seatsVoResultMap" type="com.zlr.seat.vo.SeatsVo">
        <id property="id" column="id"/>
<!--        <result property="seatsId" column="seats_id"/>-->
        <result property="seatsArea" column="seats_area"/>
        <result property="seatsFloor" column="seats_floor"/>
        <result property="useDate" column="use_date"/>
        <result property="stockCount" column="stock_count"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
    </resultMap>

    <sql id="Base_Column_List" >
    seats.id, seats.seats_area, seats.seats_floor, seats.use_date, seats.seats_stock
  </sql>

    <sql id="Base_Column_Seckill_List" >
    ss.stock_count , ss.start_date , ss.end_date
  </sql>

    <select id="selectAllSeats" resultMap="seatsVoResultMap">
        select
        seats.id, seats.seats_area, seats.seats_floor, seats.use_date
        ,
        ss.stock_count , ss.start_date , ss.end_date
        from
        seats
        left join seckill_seats ss on ss.seats_id = seats.id
        limit #{offset},#{limit}
    </select>

    <select id="selectSeatsVoById" resultMap="seatsVoResultMap">
        select
        seats.id, seats.seats_area, seats.seats_floor, seats.use_date
        ,
        ss.stock_count , ss.start_date , ss.end_date
        from
        seats
        left join seckill_seats ss on ss.seats_id = seats.id
        WHERE  seats.id = #{seatsId}
    </select>

</mapper>